* {
    margin: 20px;
}
.borda{
    text-align: justify;
    background: #FAFAFA;
    border-radius: 20px;
    padding: 15px;
}
h1 {
    text-align: center;
}
li{
    margin-left: 80px;
}
a {
    margin: 0px;
}