<h1 class="page-title">{{titulo}}</h1>

<form [formGroup]="carroForm">

<div class="panel panel-default">
  <div class = "panel-body">
    <!-- Criar uma nova linha-->
    <div class="row">
      <!--criar colunas-->
      <div class="col-md-12 col-lg-6">
        <!--Usando o field-->
        <field label="Fabricante" required="true">
          <input type="text" class="form-control" formControlName="fabricante">
        </field>
      </div>

      <!--criar colunas-->
      <div class="col-md-12 col-lg-6">
        <!--Usando o field-->
        <field label="Modelo" required="true">
          <input type="text" class="form-control" formControlName="modelo">
        </field>
      </div>

      <div class="col-md-12 col-lg-6">
        <!--Usando o field-->
        <field label="Versão" required="true">
          <input type="text" class="form-control" formControlName="versao">
        </field>
      </div>

      <div class="col-md-12 col-lg-6">
        <!--Usando o field-->
        <field label="Descrição" required="true">
          <input type="text" class="form-control" formControlName="descricao">
        </field>
      </div>

      <div class="col-md-12 col-lg-6">
        <!--Usando o field-->
        <field label="Cor" required="true">
          <input type="text" class="form-control" formControlName="cor">
        </field>
      </div>

      <div class="col-md-12 col-lg-6">
        <!--Usando o field-->
        <field label="Valor" required="true">
          <input type="text" class="form-control" formControlName="valor">
        </field>
      </div>

      <div class="col-md-6 col-lg-4"><!-- Coluna do campo Pais-->
        <field label="Garagem" required="true">
          <select class="form-control" formControlName="garagem" [compareWith]="compareFn">
            <option></option>
            <option *ngFor="let garagem of garagens" [ngValue]="garagem">{{ garagem.nome }}  </option>
          </select>
        </field>
      </div><!-- FIM Pais-->

    </div>

  </div>
  <div class="panel-footer" >

    <button class="btn btn-primary" [routerLink]="['/carro/editar', carro.id]"
    *ngIf="carroForm.disabled">Editar</button>

    <button class="btn btn-success" (click)="onSave(carroForm.value)"
    *ngIf="!carroForm.disabled">Salvar</button>

    <button class="btn btn-default ml-2"
    routerLink="/pais">Cancelar</button>
  </div>
</div>

</form>