<h1 class="page-title">Lista de Usuários</h1>

<button class="btn btn-primary m-3" [routerLink]="['/usuario/novo']">
  Cadastrar
</button>

<div *ngIf="!usuarios?.length" >
  Nenhum item inserido
</div>

<table *ngIf="usuarios?.length" class="table table-bordered">
  <thead>
    <tr>
      <th>id</th>
      <th>Nome</th>
      <th>Sobrenome</th>
      <th>CPF/CNPJ</th>
      <th>Telefone</th>
      <th>Data de Nascimento</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuarios">
        <td><button class="btn btn-link" [routerLink]="['/usuario/visualizar', usuario.id]">
          {{ usuario.id }}</button></td>
        <td>{{ usuario.nome }}</td>
        <td>{{ usuario.sobrenome }}</td>
        <td>{{ usuario.cpfCnpj }}</td>
        <td>{{ usuario.telefone }}</td>
        <td>{{ usuario.dataNascimento }}</td>
      <td><button class="btn btn-link" (click)="onModal(usuario.id)">Visualizar</button>
        <button class="btn btn-link" [routerLink]="['/usuario/editar', usuario.id]">
          Editar
        </button>
        <button class="btn btn-link" (click)="onDelete(usuario.id)">
          Deletar
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!-- modal -->
<ng-template [ngIf]="modalShow"> 
    <div class="modal" tabindex="-1" role="dialog">
        
      <div class="modal-dialog" role="document">

          <div class="modal-content">
          
            <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Visualizar</h4>
            
            <button type="button" class="close" aria-label="Close" 
                    (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {{usuarioModal.id}} 
            {{ usuarioModal.nome }}
            {{ usuarioModal.sobrenome }}
            {{ usuarioModal.cpfCnpj }}
            {{ usuarioModal.dataNascimento }}
            {{ usuarioModal.endereco.cep }} 
            {{ usuarioModal.endereco.rua }}
            {{ usuarioModal.endereco.numero }}
            {{ usuarioModal.endereco.bairro }}
            {{ usuarioModal.endereco.cidade }}
            {{ usuarioModal.endereco.estado }}
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Salvar</button>
          </div>
    </div>
  </div>
</div>
</ng-template>