<h1>Projeto FTT</h1>
<div class="borda">
  <h3>Requisitos</h3>
  <p>
    Você deverá criar uma API Java utilizando o framework Spring Boot e uma interface gráfica utilizando 
    TypeScript com o framework Angular 2+. Esta aplicação deve ser capaz de persistir dados em banco SQL.
  </p>

  <h4>História de usuário</h4>
  <p>
    Sendo dono de um site de anúncios de carros quero poder manter uma lista de garagens, para poder cadastrar
    carros nas garagens.
  </p>
  <p>
    Sendo dono de um site de anúncios de carros quero poder manter uma lista de carros que tenho a venda para
    que meus clientes possam visualizar a lista dos mesmos. 
  </p>

  <h4>Critérios</h4>
  <p>
    1. Utilização de boas práticas de programação(Ex. Organização do código, nomenclatura, separação do 
    código, identação, etc).
  </p>
  <p> 2. Mapeamento das rotas de navegação REST da API. </p>  
  <p>
    3. Cadastro, exclusão, alteração, visualização(através do campo modelo) e <a routerLink="/carro">listagem dos carros</a>.
  </p>
  <p> 4. A <a routerLink="/garagem/novo">garagem</a> terá as seguintes características:</p>

  <li>Nome - texto</li>
  <li>Endereço(logradouro, complemento, bairro, cidade, estado, pais)</li>
 
  <p>5. O <a routerLink="/carro/novo">carro</a> terá  as seguintes características:</p>
  <li>Fabricante - texto</li>
  <li>Modelo - texto</li>
  <li>Versão - texto</li>
  <li>Descrição - texto</li>
  <li>Cor - texto</li>
  <li>Valor - texto</li>
  <li>Garagem - select</li>

  <p>6. Todos os campos serão obrigatórios.</p>
  <p>7. A conclusão total do projeto não é obrigatória pois cada etapa possui uma pontuação separada.</p>

</div>